@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html, body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
    font-weight: bold;
}

.row{
    background-color: bisque;
    padding: 2rem;
    justify-content: space-evenly;
}

h1{
    background-color: floralwhite;
    text-align: center; 
    padding: 2rem;
    border: 2rem;
    color: goldenrod;
    margin-bottom: 7rem;
   
}



img{
    max-width: 100%;
    max-height: auto;
    display: block; 
    padding-bottom: 2rem;
}



#btnLoan{
    width: 60%;
    background-color: green;
    display: block; 
    border: 2px solid;
    border-radius: 2px; 
    padding-right: 2rem; 
    box-shadow: 10px 10px darkgreen;
}

#btnLoan:hover{
  background-color: lightseagreen;
}

#btnBank{
    width: 40%;
    background-color: darkgoldenrod;
    display: inline-block; 
    border: 2px solid white;
    border-radius: 2px; 
    box-shadow: 10px 10px orange;
}


#btnBank:hover{
    background-color: darkorange;
  }
  


#btnWork{
    width: 40%;
    background-color: darkblue;
     display: inline-block; 
    border: 2px solid;
    border-radius: 2px; 
    padding: 8px; 
    box-shadow: 10px 10px blue;
}

#btnWork:hover{
    background-color: darkmagenta;
  }


#btnBuy{
    width: 40%;
    display: block;
    background-color: magenta;
    border: 2px solid;
    border-radius: 2px; 
    padding: 8px; 
    box-shadow: 10px 10px darkmagenta;
}

#btnBuy:hover{
    background-color: darkorchid;
  }